<!DOCTYPE html>
<html>

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="application/x-javascript">
    

         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
  
    <!-- Style-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="~/fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet" />
    <link href="~/fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
    <!-- //web-fonts -->

    <title>Projeto André Bandtec | Login</title>

</head>

<body>
    @RenderBody()
    
</body>
</html>
